---
import Layout from "../layouts/BlogPost.astro";
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
---

<Layout
  title="About Me"
  description="One day I will write something here."
  pubDate={new Date("June 17 2025")}
  heroImage={AboutHeroImage}
>
  <p>One day I will write something here, but not today.</p>
</Layout>
